<!--footer starts from here-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Konaba</h5>
                <!--headin5_amrc-->
                <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsumn has been the industry's standard dummy text ever since the 1500s</p>
                <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 Mandarin Dili </p>
                <p><i class="fa fa-phone"></i> +77978398 </p>
                <p><i class="fa fa fa-envelope"></i> infomtci&#64;.tl </p>
            </div>

            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">MCI</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">Termu & Kondisaun</a></li>
                    <li><a href="http://webenlance.com">Politika Privasidade</a></li>
                    <li><a href="http://webenlance.com">Tips & Tricks</a></li>
                    <li><a href="http://webenlance.com">Sentru Ajuda</a></li>
                    <li><a href="http://webenlance.com">Tips Seguransa</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">MCI BLOG</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">MCI News</a></li>
                    <li><a href="http://webenlance.com">MCI Blog</a></li>
                    <!-- <li><a href="http://webenlance.com">Vectorization</a></li>
                    <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
                    <li><a href="http://webenlance.com">Image Cropping</a></li> -->
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">MCI APP</h5>
                <!--headin5_amrc ends here-->
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="http://webenlance.com">Background Remove</a></li>
                    <li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
                    <li><a href="http://webenlance.com">Logo Design</a></li>
                    <li><a href="http://webenlance.com">Vectorization</a></li>
                    <!-- <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
                    <li><a href="http://webenlance.com">Image Cropping</a></li> -->
                </ul>
                <!--footer_ul_amrc ends here-->
                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright &#64; 2024 | Designed by <a href="#">TIC.IP</a></p>
    <!--social_footer_ul ends here-->
</footer>